.searchBox {
  display: flex;
  width: 40vw;
  margin-left: 20%;
}

.searchBox > input {
  font-size: 1.6vw;
  width: 100%;
  margin: auto;
  outline: none;
  color: grey;
  border: none;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 13px;
  font-family: philosopher;
}

.searchBox > input:focus {
  outline: none;
}

.searchBox > input::placeholder {
  color: #b0b0b0;
}

.searchBox > .md-24.md-dark {
  color: black;
  font-size: 35px;
  margin: 0;
  padding-top: 25px;
  margin-left: -30px;
}
