.productPageContainer {
  padding: 40px;
}

@media only screen and (max-width: 600px) {
  .productPageContainer {
    padding: 20px;
  }
}

.productWrapper {
  padding: 40px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .productWrapper {
    padding: 0px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}

.productImage {
  display: flex;
  width: 60%;
  justify-content: left;
}

@media only screen and (max-width: 600px) {
  .productImage {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 0px;
    justify-content: center;
  }
}

.productDetail {
  padding: 40px;
  font-size: 1.5vw;
  background-color: #f3f5f9;
  height: 80%;
  width: 30%;
}

@media only screen and (max-width: 600px) {
  .productDetail {
    width: 100%;
    font-size: 3vw;
    padding: 0px;
    height: auto;
    margin-bottom: 20px;
  }
}

.heartIcon {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.heart:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.colorWrapper {
  display: flex;
  justify-content: space-around;
  width: 15%;
  padding: 20px;
  padding-left: 0;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .colorWrapper {
    justify-content: center;
    width: 100%;
  }
}

.colorOne {
  width: 30px;
  height: 30px;
  background-color: #312154;
  border-radius: 50%;
}

.colorTwo {
  width: 30px;
  height: 30px;
  background-color: #b5b2ac;
  border-radius: 50%;
}

.productBreadCrumb {
  font-size: 1.5vw;
}

@media only screen and (max-width: 600px) {
  .productBreadCrumb {
    font-size: 3vw;
  }
}

.productDetailWrapper {
  width: 100%;
  display: flex;
  font-size: 1.5vw;
  justify-content: center;
  border: 2px solid #7e7b73;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .productDetailWrapper {
    padding: 0;
    width: 100%;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.productDetailInner {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .productDetailInner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.extraDetailOne {
  width: 40%;
  height: 100%;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.extraDetailOne h3 {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .extraDetailOne {
    padding: 0;
    width: 60%;
    padding: 0;
  }
}

.extraDetailTwo {
  width: 40%;
  height: 100%;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.extraDetailTwo h3 {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .extraDetailTwo {
    width: 60%;
    padding: 0;
  }
}
