.productPageContainer {
  padding: 40px;
  color: #7e7b73;
}

.productWrapper {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.productImage {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 60%;
}

.productImage img {
}

.productDetail {
  padding: 40px;
  font-size: 1.5vw;
  background-color: #f3f5f9;
  height: 400px;
  width: 30%;
}

.heartIcon {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.colorWrapper {
  display: flex;
  justify-content: space-around;
  width: 20%;
  padding: 20px;
  padding-left: 0px;
}

.colorOne {
  width: 30px;
  height: 30px;
  background-color: #312154;
  border-radius: 50%;
}

.colorTwo {
  width: 30px;
  height: 30px;
  background-color: #b5b2ac;
  border-radius: 50%;
}

.productBreadCrumb {
  font-size: 1.5vw;
}

.productDetailWrapper {
  padding: 40px;
  height: 400px;
  display: flex;
  justify-content: center;
  border: 2px solid #7e7b73;
}

.extraDetailOne {
  width: 40%;
  padding-left: 150px;
  font-size: 1.5vw;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.extraDetailOne p {
}

.extraDetailTwo {
  width: 40%;
  padding-left: 150px;
  font-size: 1.5vw;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.extraDetailTwo p {
}
