.productListContain {
  display: flex;
  width: 100%;
}

.productBoxJustifier {
  display: flex;
  align-content: center;
  width: 100%;
}

.productBoxWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.productBox img:hover {
  opacity: 0.7;
}

.individualProduct {
  position: relative;
  width: 31%;
  height: 450px;
  padding: 10px;
  font-size: 1.7vw;
  margin-bottom: 10%;
  transition: all 0.1s ease-in-out;
}

.individualProduct:hover {
  transform: scale(1.05);
}

.productImage {
  width: 100%;
  margin-bottom: 20px;
}

.productText {
  margin-bottom: 10px;
  width: 80%;
}

.productText p {
  margin-bottom: 5px;
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .individualProduct {
    margin-bottom: 3%;
    height: auto;
    width: 45%;
    font-size: 2.7vw;
  }
  .productText {
    width: 85%;
  }

  .individualProductFilters li {
    float: left;
    list-style-type: none;
    width: 33%;
    border: 0.5px solid grey;
  }

  /* .filterText {
    display: none;
  }

  .filterIcon {
    display: none;
  } */
}

@media only screen and (max-width: 639px) {
  .productBoxWrapper {
    width: 100%;
    padding: 0;
    margin-left: 10px;
  }
  .individualProduct {
    font-size: 4vw;
    width: 46.5%;
    padding: 5px;
    height: auto;
  }

  .breadCrumb .noClickBreadCrumb {
    color: grey;
  }

  .clickToGo:hover {
    text-decoration: underline;
  }
}
