.productListContainer {
  overflow: hidden;
}

.productBox {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  text-align: center;
}

.productBox img:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  .productBox {
    width: 100%;
    flex-direction: column;
    padding: 0px;
  }
}

.productBox p {
  width: 70%;
  padding: 4px;
  text-align: center;
  display: inline-block;
  background-color: #f3f5f9;
}

.individualProduct:hover {
  transform: scale(1.05);
}

.breadCrumb .noClickBreadCrumb {
  color: grey;
}

.clickToGo:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 2000px) and (min-width: 1024px) {
  .individualProduct {
    width: 28%;
    padding: 30px;
    font-size: 1.7vw;
    transition: all 0.1s ease-in-out;
  }

  .categoryHeading {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 2%;
    margin-top: 0;
  }

  .filterProductsBy {
    text-align: center;
  }

  .filterProductsBy ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 50%;
    font-size: 35px;
    margin-bottom: 2%;
    font-size: 2vw;
  }

  .individualProductFilters li {
    float: left;
    list-style-type: none;
    width: 33%;
    border: 0.5px solid grey;
  }

  .individualProductFilters li p {
    position: absolute;
    padding: 0;
    margin-left: 12%;
    margin-top: -35px;
  }
  .filterText {
    display: none;
  }

  .filterIcon {
    display: none;
  }

  .breadCrumb {
    margin-left: 3%;
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 736px) and (min-width: 0px) {
  .categoryHeading {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 0;
    margin-top: 0;
  }

  .filterProductsBy {
    text-align: center;
  }

  .filterProductsBy ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 20%;
    margin-bottom: 2%;
    font-size: 3vw;
  }
  .individualProductFilters li {
    display: none;
  }

  .filterText {
    margin: 0;
    padding: 0;
  }

  .filterIcon {
    margin: 0;
    padding: 0;
  }

  .breadCrumb {
    margin-left: 3%;
    font-size: 3vw;
  }
}

@media screen and (max-width: 1024px) and (min-width: 736px) {
  .individualProduct {
    width: 50%;
    height: 300px;
    padding: 0;
    font-size: 2vw;
    transition: all 0.1s ease-in-out;
  }

  .filterProductsBy {
    text-align: center;
  }

  .filterProductsBy ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 20%;
    margin-bottom: 2%;
    font-size: 3vw;
  }
  .individualProductFilters li {
    display: none;
  }

  .filterText {
    margin: 0;
    padding: 0;
  }

  .filterIcon {
    margin: 0;
    padding: 0;
  }
  .categoryHeading {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 0;
    margin-top: 0;
  }

  .breadCrumb {
    margin-left: 3%;
    font-size: 3vw;
  }
}

@media screen and (max-width: 600px) {
  .individualProduct {
    width: 80%;
  }
}

.individualProduct p {
  margin: 0;
  background-color: white;
  font-size: 0.85em;
  text-align: right;
  opacity: 0.7;
}
