.heroContainer {
  width: 100%;
}

.HeroBox {
  display: flex;
  width: 100%;
  text-align: center;
}

.heroProduct {
  height: 20vw;
  text-align: center;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1.7vw;
  border: 2px solid rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
}

.heroProduct:hover {
  transform: scale(1.05);
}

.HeroBox p {
  text-align: center;
  width: 70%;
  height: 10%;
  display: inline-block;
  margin: 3%;
  background-color: #f3f5f9;
}
