.favProductWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 3%;
  padding-right: 3%;
}

.favProductDetail {
  width: 29%;
  display: flex;
  padding: 2%;
  flex-direction: column;
}

.favProductDetail img {
  width: 100%;
}

.favProductBottom {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: left;
  font-size: 1.7vw;
}

.favProductBottom p {
  margin: 5px;
}

.favouritesContainer h3 {
  font-size: 2vw;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
