.homeContain {
  overflow: hidden;
}

.headImageDiv {
  background-image: url('../Home/leader.png');
  background-color: #cccccc;
  height: 700px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.textHeadImage {
  width: 45%;
  margin: 100px;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.leaderP {
  font-size: 4vw;
  margin: 0;
}

.leaderPrice {
  font-size: 4.5vw;
  font-style: bold;
  margin: 0;
}

.designerBlock {
  display: flex;
  height: 50vw;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #ffa38e;
}

.designerBlock > img {
  margin-top: 2.5%;
  margin-left: 7%;
}

.designerText {
  margin-top: 2.5%;
  background-color: white;
  height: 90%;
  width: 45%;
  margin-right: 7%;
  cursor: pointer;
}

.designerText p:first-of-type {
  margin-top: 10%;
  margin-left: 17.5%;
  font-size: 5vw;
  font-weight: bold;
  width: 80%;
  margin-bottom: 0;
}

.designerText p {
  margin-left: 17.5%;
  width: 60%;
  font-size: 2vw;
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .leaderP {
    position: absolute;
    top: 2%;
    left: 9%;
    height: 2.5vw;
    width: 17vw;
    padding: 0.8%;
    font-size: 3vw;
    background-color: null;
  }

  .leaderPrice {
    position: absolute;
    top: 7%;
    left: 2.8%;
    height: 2.5vw;
    width: 17vw;
    padding: 0.8%;
    font-size: 4vw;
    background-color: null;
    font-style: bold;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1007px) {
}
