.topNav {
  margin-bottom: 0;
  height: 80px;
  background: #f3f5f9;
  margin: 0;
  font-family: 'Philosopher';
}

.topNav p {
  margin: 0;
  margin-left: 1%;
  font-size: 5rem;
  float: left;
  cursor: pointer;
}

.topNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topNav li {
  margin-top: 0.5%;
  float: right;
  font-size: 3rem;
  padding: 12px;
  cursor: pointer;
}

.endLi {
  margin-top: 1%;
  margin-right: 4%;
  float: right;
  font-size: 3rem;
}

.middleSep {
  margin-top: 0;
  padding: 0;
  height: 30px;
  background-color: #ffdb15;
}

.catNav {
  height: 60px;
  background-color: #f3f5f9;
}

.catNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catNav li {
  display: inline-block;
  text-align: center;
  font-size: 1.7rem;
  padding: 12px;
  opacity: 0.6;
}

.catNav li:hover {
  background-color: white;
  cursor: pointer;
}
