.allNav {
  font-size: 4rem;
}

.topNav {
  display: flex;
  justify-content: space-between;
  padding: 5px 40px 5px 20px;
  margin: 0;
}

.topNav > ul {
  margin: 0;
  padding: 0;
}

.topNav p {
  margin: 0;
}

.topNav a {
  margin: 0;
}

.lgScreenAcNav {
  display: flex;
  list-style: none;
  width: 180px;
  justify-content: space-evenly;
}

.categoryDD {
  display: none;
}

.topNavYellowUnderLine {
  width: 100%;
  height: 7px;
  background-color: #ffdc00;
}

.categoryNav {
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
}

.categoryNav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 90%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.categoryNav li {
  height: 100%;
}

.categoryNav li:hover {
  text-decoration: underline;
  color: black;
}

@media only screen and (max-width: 640px) {
  .md-24.md-24.md-dark {
    font-size: 50px;
  }
}

@media only screen and (max-width: 640px) and (max-width: 1007px) {
}
