.footer {
  display: flex;
  height: 10%;
  background-color: black;
  margin-bottom: 0;
  margin-top: 40px;
  color: white;
  font-size: 1.7vw;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .footer {
    height: 30%;
    font-size: 3vw;
  }
}

.helpDiv {
  width: 30%;
}

.help {
  margin-left: 13%;
  margin-bottom: 0;
  font-size: 3vw;
  margin-top: 0;
}

.footer ul {
  list-style-type: none;
  margin-left: 13%;
  padding: 0;
  margin-bottom: 2%;
  margin-top: 1%;
  border-bottom: 0;
}

.footer ul li {
  cursor: pointer;
}

.footer ul li:hover {
  text-decoration: underline;
}

.aboutDiv {
  width: 30%;
}

.about {
  margin-left: 13%;
  margin-bottom: 0;
  font-size: 3vw;
  margin-top: 0;
}

.moreDiv {
  width: 30%;
}

.more {
  margin-left: 13%;
  margin-bottom: 0;
  font-size: 3vw;
  margin-top: 0;
}
