.basketProductWrapper {
  border: 2px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.7vw;
  align-items: center;
}

.individualBasketProduct {
  border: 2px solid black;
  display: flex;
  width: 90%;
}

.imgBlock {
  width: 20%;
  height: 100%;
}

.shortDescBlock {
  width: 30%;
  padding: 1%;
  padding-left: 3%;
}

.deliveryBlock {
  width: 20%;
  padding: 1%;
  padding-left: 3%;
}

.priceBlock {
  width: 20%;
  padding: 1%;
  padding-left: 3%;
}
