body {
  font-family: philosopher, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

@font-face {
  font-family: 'philosopher';
  src: local('philosopher'),
    url(./philosopher/Philosopher-Regular.ttf) format('ttf');
}
